In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim
from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [90]:
location_df = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')
location_df.sample(5)

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
182,182,182,A49,IND,8th Av - Fulton St,Ralph Av,Bk,C,Subway,40.678822,-73.920786
188,188,188,A55,IND,8th Av - Fulton St,Euclid Av,Bk,A C,Subway,40.675377,-73.872106
443,442,442,501,IRT,Dyre Av,Eastchester - Dyre Av,Bx,5,At Grade,40.888300,-73.830834
464,462,606,719,IRT,Flushing,Court Sq,Q,7,Elevated,40.747023,-73.945264
262,261,261,G08,IND,Queens Blvd,Forest Hills - 71 Av,Q,E F M R,Subway,40.721691,-73.844521

In [91]:
df_size=3
sample=location_df.sample(df_size).reset_index()
sample.drop(sample.columns[0], axis=1, inplace=True)
sample

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,459,459,715,IRT,Flushing,40 St,Q,7,Elevated,40.743781,-73.924016
1,359,359,247,IRT,Nostrand,Flatbush Av - Brooklyn College,Bk,2 5,Subway,40.632836,-73.947642
2,369,369,611,IRT,Pelham,Elder Av,Bx,6,Elevated,40.828584,-73.879159

In [57]:
geolocator = Nominatim(user_agent="location code")

address_list=[]

for i in range(df_size):
    lat = sample.iat[i, 9]
    lon = sample.iat[i, 10]
    lat_lon = str(lat) + "," + str(lon)
    address = geolocator.reverse(lat_lon)
    address_list.append(address)
sample['Address']=address_list
    
#print(address_list)   
sample

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,Address
0,380,380,405,IRT,Jerome Av,Bedford Park Blvd - Lehman College,Bx,4,Elevated,40.873412,-73.890064,"(2947, Jerome Avenue, Bedford Park, Bronx, Bro..."
1,269,269,G16,IND,Queens Blvd,Northern Blvd,Q,M R,Subway,40.752885,-73.906006,"(55-02, Broadway, Woodside, Queens County, NYC..."
2,59,59,B12,BMT,West End,9 Av,Bk,D,Open Cut,40.646292,-73.994324,"(9th Avenue Station, 9th Avenue, Borough Park,..."

In [63]:
import requests
import json

inputs=[]

for i in range(df_size):
    lat = sample.iat[i, 9]
    lon = sample.iat[i, 10]
    lat_lon_input = 'lat='+str(lat) + '&lon=' + str(lon)
    inputs.append(lat_lon_input)


walk_score=[]
    
for i in inputs:
    url = f'http://api.walkscore.com/score?format=json&{i}&wsapikey=24c9469a038f55c85cbbba8abeadcfcb'
    page = requests.get(url)
    walkscore_dict = json.loads(page.text)    
    walk_score.append(int(walkscore_dict['walkscore']))

sample['WalkScore']=walk_score

max_walk_score=max(walk_score)

normalized_walk_score=[]

for i in walk_score:
    norm=i/max_walk_score
    normalized_walk_score.append(norm)    

sample['Normalized WalkScore']=normalized_walk_score    
sample

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,Address,WalkScore,Normalized WalkScore
0,380,380,405,IRT,Jerome Av,Bedford Park Blvd - Lehman College,Bx,4,Elevated,40.873412,-73.890064,"(2947, Jerome Avenue, Bedford Park, Bronx, Bro...",93,0.989362
1,269,269,G16,IND,Queens Blvd,Northern Blvd,Q,M R,Subway,40.752885,-73.906006,"(55-02, Broadway, Woodside, Queens County, NYC...",94,1.000000
2,59,59,B12,BMT,West End,9 Av,Bk,D,Open Cut,40.646292,-73.994324,"(9th Avenue Station, 9th Avenue, Borough Park,...",89,0.946809

In [92]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
MTA_df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180922.txt')
MTA_df.head(3)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2018,00:00:00,REGULAR,6759219,2291425
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2018,04:00:00,REGULAR,6759234,2291429
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2018,08:00:00,REGULAR,6759251,2291453

In [85]:
MTA_station_names=MTA_df.STATION.unique()
MTA_station_lines=MTA_df['LINENAME'].values
location_lines=location_df['Daytime Routes'].values

def stationname(stop_name):
    if stop_name in MTA_station_names: 
        return stop_name, 100
    
    mta_name, score = process.extractOne(stop_name, MTA_station_names)
    
    if score < 90:
        #need to add if statement that checks if line names match
        #if MTA_station_lines[i]==
        return stop_name, score
    else:
        return mta_name, score

matches=[]
mta_names = sample['Stop Name'].values

for stop in mta_names:
    matches.append(stationname(stop))
print(matches)

[('Bedford Park Blvd - Lehman College', 86), ('NORTHERN BLVD', 100), ('9 AV', 100)]

In [159]:
MTA_station_names=MTA_df.STATION.unique()
#MTA_station_lines=MTA_df['LINENAME'].values
#location_lines=location_df['Daytime Routes'].values

def stationname(stop_name):
    if stop_name in MTA_station_names: 
        return stop_name, 100
    else:
        mta_name, score = process.extractOne(stop_name, MTA_station_names)
    
        if score < 90:
            # need to add if statement that checks if line names match
            # e.g. if MTA_station_lines[i]==
            return stop_name, score
        else:
            return mta_name, score

matches=[]
mta_names = location_df['Stop Name'].values

for stop in mta_names:
    matches.append(stationname(stop))

    
df = pd.DataFrame(matches,columns=('Best Match MTA Station','Fuzzy Score'))
df

    Best Match MTA Station  Fuzzy Score
0          ASTORIA DITMARS           95
1             ASTORIA BLVD          100
2                    30 AV          100
3                 BROADWAY          100
4                    36 AV          100
5                    39 Av           89
6                    59 ST           90
7               5 AV/59 ST          100
8               57 ST-7 AV           95
9                    49 ST          100
10          TIMES SQ-42 ST           95
11         34 ST-HERALD SQ           95
12                   28 ST          100
13                   23 ST          100
14          14 ST-UNION SQ           95
15                8 ST-NYU           95
16               PRINCE ST          100
17                CANAL ST          100
18                CANAL ST          100
19               CITY HALL          100
20            CORTLANDT ST          100
21               RECTOR ST          100
22            Whitehall St           86
23                Court St           88
24         JAY ST-METROTEC           92
25               DEKALB AV          100
26             ATLANTIC AV           90
27                UNION ST          100
28              5 AV/59 ST           90
29             PROSPECT AV          100
..                     ...          ...
467  Grand Central - 42 St           86
468             5 AV/59 ST           90
469         TIMES SQ-42 ST           95
470         TIMES SQ-42 ST           95
471  Grand Central - 42 St           86
472                   1 AV           90
473                  96 ST          100
474                  86 ST          100
475                  72 ST          100
476             ST. GEORGE           95
477          TOMPKINSVILLE          100
478              Stapleton           60
479                Clifton           77
480               Grasmere           52
481               Old Town           57
482           Dongan Hills           61
483           Jefferson Av           86
484             Grant City           86
485               New Dorp           86
486        Oakwood Heights           64
487            Bay Terrace           58
488            Great Kills           62
489            Eltingville           67
490               Annadale           50
491               Huguenot           50
492           Prince's Bay           86
493        Pleasant Plains           68
494        Richmond Valley           50
495            Tottenville           67
496            Arthur Kill           53

[497 rows x 2 columns]

In [98]:
MTA_station_names=MTA_df.STATION.unique()
#MTA_station_lines=MTA_df['LINENAME'].values
#location_lines=location_df['Daytime Routes'].values

def countissues(stop_list):
    count=0
    for stop in stop_list:
        if stop.upper() in MTA_station_names: 
            count+=0
        else:
            mta_name, score = process.extractOne(stop, MTA_station_names)
            if score < 90:
                count+=1
    return count

location_names = location_df['Stop Name'].values

countissues(location_names)

64

In [83]:
location_names = location_df['Stop Name'].values
count=0
for stop in location_names:
    if stop.upper() in MTA_station_names: 
        count+=1
print(count)

336

In [163]:
def CanYouSpell(mylist,word):
    for char in word:
        if char in mylist:
            list(mylist).remove(char)
        else:
            return False
    return True
CanYouSpell('NQR456W','NWR')

True

In [200]:
MTA_station_names=MTA_df.STATION.unique()


def exact_matches(stop_name):
    mta_name, score = process.extractOne(stop_name, MTA_station_names)
    new_line = MTA_df.loc[MTA_df['STATION'] == mta_name.upper(), 'LINENAME'].iloc[0]
    old_line = location_df.loc[location_df['Stop Name'] == stop_name, 'Daytime Routes'].iloc[0].replace(" ","")
    
    if stop_name.upper() in MTA_station_names: 
        if CanYouSpell(new_line,old_line):
            return "Match!", stop_name, mta_name, score, old_line, new_line
        else:
            return "Lines don't match", stop_name, mta_name, score, old_line, new_line
    else:
        return "Names don't match", stop_name, mta_name, score, old_line, new_line

exactmatches=[]
mta_names = location_df['Stop Name'].values

for stop in mta_names:
    exactmatches.append(exact_matches(stop))
    
df = pd.DataFrame(exactmatches,columns=('Match','Stop Name','MTA Station','Fuzzy Score','old line','new line'))
df

,Match,Stop Name,MTA Station,Fuzzy Score,old line,new line
0,Names don't match,Astoria - Ditmars Blvd,ASTORIA DITMARS,95,NW,NQW
1,Match!,Astoria Blvd,ASTORIA BLVD,100,NW,NQW
2,Match!,30 Av,30 AV,100,NW,NQW
3,Lines don't match,Broadway,BROADWAY,100,NW,G
4,Match!,36 Av,36 AV,100,NW,NQW
5,Names don't match,39 Av,9 AV,89,NW,D
6,Names don't match,Lexington Av/59 St,59 ST,90,NWR,NQR456W
7,Match!,5 Av/59 St,5 AV/59 ST,100,NWR,NQRW
8,Names don't match,57 St - 7 Av,57 ST-7 AV,95,NQRW,NQRW
9,Match!,49 St,49 ST,100,NRW,NQRW
10,Names don't match,Times Sq - 42 St,TIMES SQ-42 ST,95,NQRW,ACENQRS1237W
11,Names don't match,34 St - Herald Sq,34 ST-HERALD SQ,95,NQRW,BDFMNQRW
12,Match!,28 St,28 ST,100,RW,NRW
13,Match!,23 St,23 ST,100,RW,NRW
14,Names don't match,14 St - Union Sq,14 ST-UNION SQ,95,NQRW,LNQR456W
15,Names don't match,8 St - NYU,8 ST-NYU,95,RW,NRW
16,Match!,Prince St,PRINCE ST,100,RW,NRW
17,Match!,Canal St,CANAL ST,100,RW,JNQRZ6W
18,Match!,Canal St,CANAL ST,100,RW,JNQRZ6W
19,Match!,City Hall,CITY HALL,100,RW,NRW
20,Match!,Cortlandt St,CORTLANDT ST,100,RW,RNW
21,Match!,Rector St,RECTOR ST,100,RW,NRW
22,Names don't match,Whitehall St,59 ST,86,RW,NQR456W
23,Names don't match,Court St,COURT SQ,88,R,EMG
24,Names don't match,Jay St - MetroTech,JAY ST-METROTEC,92,R,R
25,Match!,DeKalb Av,DEKALB AV,100,BQR,BDNQR
26,Names don't match,Atlantic Av - Barclays Ctr,ATLANTIC AV,90,DNR,L
27,Match!,Union St,UNION ST,100,R,R
28,Names don't match,9 St,5 AV/59 ST,90,R,NQRW
29,Match!,Prospect Av,PROSPECT AV,100,R,R
...,...,...,...,...,...,...
467,Names don't match,Grand Central - 42 St,59 ST,86,456,NQR456W
468,Names don't match,5 Av,5 AV/59 ST,90,7,NQRW
469,Names don't match,Times Sq - 42 St,TIMES SQ-42 ST,95,NQRW,ACENQRS1237W
470,Names don't match,Times Sq - 42 St,TIMES SQ-42 ST,95,NQRW,ACENQRS1237W
471,Names don't match,Grand Central - 42 St,59 ST,86,456,NQR456W
472,Names don't match,34 St - 11 Av,1 AV,90,7,L
473,Match!,96 St,96 ST,100,BC,BC
474,Match!,86 St,86 ST,100,R,R
475,Lines don't match,72 St,72 ST,100,BC,123
476,Names don't match,St George,ST. GEORGE,95,SIR,1
477,Lines don't match,Tompkinsville,TOMPKINSVILLE,100,SIR,1
478,Names don't match,Stapleton,ALLERTON AV,60,SIR,25
479,Names don't match,Clifton,CLINTON-WASH AV,77,SIR,C
480,Names don't match,Grasmere,JAY ST-METROTEC,52,SIR,R
481,Names don't match,Old Town,GRAND-NEWTOWN,57,SIR,MR
482,Names don't match,Dongan Hills,GUN HILL RD,61,SIR,25
483,Names don't match,Jefferson Av,7 AV,86,SIR,BQ
484,Names don't match,Grant City,137 ST CITY COL,86,SIR,1
485,Names don't match,New Dorp,NEW UTRECHT AV,86,SIR,ND
486,Names don't match,Oakwood Heights,HIGH ST,64,SIR,AC
487,Names don't match,Bay Terrace,INTERVALE AV,58,SIR,25
488,Names don't match,Great Kills,FOREST HILLS 71,62,SIR,EFMR
489,Names don't match,Eltingville,TOMPKINSVILLE,67,SIR,1
490,Names don't match,Annadale,CANAL ST,50,SIR,JNQRZ6W
491,Names don't match,Huguenot,UNION ST,50,SIR,R
492,Names don't match,Prince's Bay,BAY PKWY,86,SIR,N
493,Names don't match,Pleasant Plains,ASTOR PL,68,SIR,6
494,Names don't match,Richmond Valley,MORGAN AV,50,SIR,L
495,Names don't match,Tottenville,TOMPKINSVILLE,67,SIR,1
496,Names don't match,Arthur Kill,ASTOR PL,53,SIR,6

In [208]:
unique_df=df.drop_duplicates()

In [212]:
new_df = pd.merge(location_df,unique_df, on="Stop Name")

df_filtered = new_df[new_df['Match'] == "Match!"]
df_filtered.sample(5)

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,Match,MTA Station,Fuzzy Score,old line,new line
403,369,369,611,IRT,Pelham,Elder Av,Bx,6,Elevated,40.828584,-73.879159,Match!,ELDER AV,100,6,6
106,312,312,122,IRT,Broadway - 7Av,79 St,M,1,Subway,40.783934,-73.979917,Match!,79 ST,100,D,D
218,439,439,225,IRT,Lenox - White Plains Rd,125 St,M,2 3,Subway,40.807754,-73.945495,Match!,125 ST,100,ABCD,ACBD
125,193,193,A63,IND,Liberty Av,104 St,Q,A,Elevated,40.681711,-73.837683,Match!,104 ST,100,JZ,JZ
28,17,17,R22,BMT,Broadway - Brighton,Prince St,M,R W,Subway,40.724329,-73.997702,Match!,PRINCE ST,100,RW,NRW

In [238]:
trimmed_mapping=df_filtered[['GTFS Latitude', 'GTFS Longitude','MTA Station']]
trimmed_mapping=trimmed_mapping.reset_index()
trimmed_mapping.drop(trimmed_mapping.columns[0], axis=1, inplace=True)
trimmed_mapping

     GTFS Latitude  GTFS Longitude      MTA Station
0        40.770258      -73.917843     ASTORIA BLVD
1        40.766779      -73.921479            30 AV
2        40.756804      -73.929575            36 AV
3        40.764811      -73.973347       5 AV/59 ST
4        40.759901      -73.984139            49 ST
5        40.745494      -73.988691            28 ST
6        40.747215      -73.993365            28 ST
7        40.743070      -73.984264            28 ST
8        40.741303      -73.989344            23 ST
9        40.745906      -73.998041            23 ST
10       40.742878      -73.992821            23 ST
11       40.744081      -73.995657            23 ST
12       40.739864      -73.986599            23 ST
13       40.724329      -73.997702        PRINCE ST
14       40.719527      -74.001775         CANAL ST
15       40.718383      -74.000460         CANAL ST
16       40.718092      -73.999892         CANAL ST
17       40.720824      -74.005229         CANAL ST
18       40.722854      -74.006277         CANAL ST
19       40.718803      -74.000193         CANAL ST
20       40.713282      -74.006978        CITY HALL
21       40.710668      -74.011029     CORTLANDT ST
22       40.707220      -74.013342        RECTOR ST
23       40.707513      -74.013783        RECTOR ST
24       40.690635      -73.981824        DEKALB AV
25       40.703811      -73.918425        DEKALB AV
26       40.677316      -73.983110         UNION ST
27       40.665414      -73.992872      PROSPECT AV
28       40.819585      -73.901770      PROSPECT AV
29       40.660397      -73.998091            25 ST
..             ...             ...              ...
282      40.844434      -73.914685       MT EDEN AV
283      40.795020      -73.944250           110 ST
284      40.757107      -73.971920            51 ST
285      40.746081      -73.982076            33 ST
286      40.744587      -73.930997            33 ST
287      40.730054      -73.991070         ASTOR PL
288      40.725915      -73.994659      BLEECKER ST
289      40.704817      -74.014065    BOWLING GREEN
290      40.898379      -73.854376        NEREID AV
291      40.893193      -73.857473           233 ST
292      40.888022      -73.860341           225 ST
293      40.883895      -73.862633           219 ST
294      40.877850      -73.866256      GUN HILL RD
295      40.869526      -73.846384      GUN HILL RD
296      40.871356      -73.867164         BURKE AV
297      40.865462      -73.867352      ALLERTON AV
298      40.857192      -73.867615      PELHAM PKWY
299      40.858985      -73.855359      PELHAM PKWY
300      40.848828      -73.868457  BRONX PARK EAST
301      40.841894      -73.873488         E 180 ST
302      40.837288      -73.887734           174 ST
303      40.829993      -73.891865       FREEMAN ST
304      40.824073      -73.893064       SIMPSON ST
305      40.822181      -73.896736     INTERVALE AV
306      40.816490      -73.907807       JACKSON AV
307      40.878663      -73.838591    BAYCHESTER AV
308      40.854364      -73.860495      MORRIS PARK
309      40.749145      -73.869527    JUNCTION BLVD
310      40.746325      -73.896403            69 ST
311      40.744149      -73.912549            52 ST

[312 rows x 3 columns]

In [254]:
def appendaddress(datafm,starti,stopi):
    address_list=[]
    for i in range(stopi-starti):
        lat = datafm.loc[i+starti, 'GTFS Latitude']
        lon = datafm.loc[i+starti, 'GTFS Longitude']
        lat_lon = str(lat) + "," + str(lon)
        address = geolocator.reverse(lat_lon)
        address_list.append(address)
    datafm['Address']=address_list
    return datafm

In [255]:
first_30=trimmed_mapping.iloc[0:30]
first=appendaddress(first_30,0,30)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [257]:
second_30=trimmed_mapping.iloc[30:60]
second=appendaddress(second_30,30,60)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [263]:
third_30=trimmed_mapping.iloc[60:90]
third=appendaddress(third_30,60,90)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [264]:
fourth_30=trimmed_mapping.iloc[90:120]
fourth=appendaddress(fourth_30,90,120)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [267]:
fifth_30=trimmed_mapping.iloc[120:150]
fifth=appendaddress(fifth_30,120,150)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [266]:
sixth_30=trimmed_mapping.iloc[150:180]
sixth=appendaddress(sixth_30,150,180)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [271]:
seventh_30=trimmed_mapping.iloc[180:210]
seventh=appendaddress(seventh_30,180,210)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [281]:
eighth_30=trimmed_mapping.iloc[210:240]
eighth=appendaddress(eighth_30,210,240)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [274]:
ninth_30=trimmed_mapping.iloc[240:270]
ninth=appendaddress(ninth_30,240,270)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [276]:
tenth_30=trimmed_mapping.iloc[270:300]
tenth=appendaddress(tenth_30,270,300)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [277]:
final_12=trimmed_mapping.iloc[300:312]
final=appendaddress(final_12,300,312)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [282]:
frames = [first, second, third, fourth, fifth, sixth, seventh, eigth, ninth, tenth, final]
final_mapping = pd.concat(frames)

In [284]:
final_mapping.tail(5)

,GTFS Latitude,GTFS Longitude,MTA Station,Address
307,40.878663,-73.838591,BAYCHESTER AV,"(3355, Edson Avenue, Co-Op City, Bronx, Bronx ..."
308,40.854364,-73.860495,MORRIS PARK,"(Morris Park Station House, Esplanade, Morris ..."
309,40.749145,-73.869527,JUNCTION BLVD,"(95-54, Roosevelt Avenue, Corona, Queens Count..."
310,40.746325,-73.896403,69 ST,"(Iglesia Universal del Reino de Dios, Roosevel..."
311,40.744149,-73.912549,52 ST,"(51-30, Roosevelt Avenue, Sunnyside Gardens, Q..."

In [286]:
inputs=[]

for i in range(312):
    lat = final_mapping.iat[i, 0]
    lon = final_mapping.iat[i, 1]
    lat_lon_input = 'lat='+str(lat) + '&lon=' + str(lon)
    inputs.append(lat_lon_input)


walk_score=[]
    
for i in inputs:
    url = f'http://api.walkscore.com/score?format=json&{i}&wsapikey=24c9469a038f55c85cbbba8abeadcfcb'
    page = requests.get(url)
    walkscore_dict = json.loads(page.text)    
    walk_score.append(int(walkscore_dict['walkscore']))

final_mapping['WalkScore']=walk_score

max_walk_score=max(walk_score)

normalized_walk_score=[]

for i in walk_score:
    norm=i/max_walk_score
    normalized_walk_score.append(norm)    

final_mapping['Normalized WalkScore']=normalized_walk_score    
final_mapping.tail(5)

,GTFS Latitude,GTFS Longitude,MTA Station,Address,WalkScore,Normalized WalkScore
307,40.878663,-73.838591,BAYCHESTER AV,"(3355, Edson Avenue, Co-Op City, Bronx, Bronx ...",78,0.78
308,40.854364,-73.860495,MORRIS PARK,"(Morris Park Station House, Esplanade, Morris ...",88,0.88
309,40.749145,-73.869527,JUNCTION BLVD,"(95-54, Roosevelt Avenue, Corona, Queens Count...",97,0.97
310,40.746325,-73.896403,69 ST,"(Iglesia Universal del Reino de Dios, Roosevel...",95,0.95
311,40.744149,-73.912549,52 ST,"(51-30, Roosevelt Avenue, Sunnyside Gardens, Q...",97,0.97